.vs/
PMU_Plotter/Service References/
PMU_Plotter/PMU_Plotter/PhasorPointBinaryDataParser.cs
PMU_Plotter/PMU_Plotter/PhasorPointEndpointBehavior.cs
PMU_Plotter/PMU_Plotter/PhasorPointMessageInspector.cs